body {
    margin: 0 !important;
    padding: 0 !important;
    background: #262c2f;
    color: #fff !important;
    overflow: hidden !important;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #262c2f;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
}
